<div class="overlay" (click)="closeDialogClick()"></div>
<div class="container" [ngClass]="{ hidden: dialogHidden }">
    <div class="profile-title">
        <span>Set up your first profile!</span>
    </div>
    <div class="input-box-wrapper">
        <div class="title input-box">
            <input
                #titleInput
                class="user-data"
                type="text"
                required="required"
                [(ngModel)]="title"
                [ngClass]="{ 'not-empty': title }"
                maxlength="35"
            />
            <span (click)="titleInputClick()">Title</span>
        </div>
        <div class="description input-box">
            <textarea
                #descriptionTextarea
                class="user-data"
                type="text"
                required="required"
                [(ngModel)]="description"
                [ngClass]="{ 'not-empty': description }"
                maxlength="230"
            >
            </textarea>
            <span (click)="descriptionTextareaClick()">Description</span>
        </div>
    </div>
    <div class="submit-wrapper">
        <button (click)="submitClick()">Next</button>
    </div>
</div>

<app-data-insert-dialog
    *ngIf="dialogHidden"
    (closeDialog)="closeDialogClick()"
    (getProfileData)="operationSuccessful($event)"
>
</app-data-insert-dialog>
