<div class="overlay" (click)="closeDialogClick()"></div>
<div class="container">
    <div class="profile-title">
        <span>Set up your first profile!</span>
    </div>
    <div class="input-box-wrapper">
        <div class="title input-box">
            <input
                type="text"
                required="required"
                [(ngModel)]="title"
                [ngClass]="{ 'not-empty': title }"
            />
            <span>Title</span>
        </div>
        <div class="description input-box">
            <input
                type="text"
                required="required"
                [(ngModel)]="description"
                [ngClass]="{ 'not-empty': description }"
            />
            <span>Description</span>
        </div>
    </div>
    <div class="submit-wrapper">
        <button>Next</button>
    </div>
</div>
