<div class="overlay"></div>
<div class="container">
    <section class="data-insert">
        <table #dataInsertTable>
            <colgroup>
                <col span="1" style="width: 15%;">
             </colgroup>

            <thead>
                <th>No.</th>
                <th>Values</th>
            </thead>
            <tbody>
                <tr>
                    <td class="No-row"><span>1.</span></td>
                    <td class="input-row"><input></td>
                </tr>
                <tr>
                    <td class="No-row"><span>1.</span></td>
                    <td class="input-row"><input></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="footer">
        <button class="save" (click)="click()">Save</button>
    </section>
</div>