<ng-container *ngIf="selectedProfile; else noChartDataTemplate">
    <div class="selectedProfile">
        <div class="add-new-wrapper">
            <button (click)="showDataManagerDialog = true">
                Manage profiles
            </button>
        </div>
        <div class="chart">
            <app-chart
                [profileData]="selectedProfile"
            >
            </app-chart>
        </div>
    </div>
</ng-container>

<ng-template #noChartDataTemplate>
    <div class="no-chart-data-template">
        <span
            >It seems you haven't added any data yet
            <p>🤔</p></span
        >

        <button (click)="showDataInsertDialog = true">Add data!</button>
    </div>
</ng-template>

<app-basic-information-dialog
    *ngIf="showDataInsertDialog"
    (closeDialog)="showDataInsertDialog = false"
    (getUserProfileData)="getProfileData($event)"
    [profileData]="null"
>
</app-basic-information-dialog>

<app-data-manager
    *ngIf="showDataManagerDialog"
    [userDataArray]="profileDataArray"
    (hideComponent)="showDataManagerDialog = false"
    (update)="updateUserDataProfileArray()"
>
</app-data-manager>

<!-- <app-data-manager [userDataArray]="profileDataArray">

</app-data-manager> -->
